.container,
.homePageContainer {
  width: 320px;
  padding: 68px 22px 0;
  margin: 0 auto;
  height: 100%;
  background-color: var(--white);
  overflow: hidden;
}

.homePageContainer {
  width: 100%;
  background-color: var(--gray);
  background-image: image-set(
    url("../../../assets/Picture@1x.jpg") 1x,
    url("../../../assets/Picture@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-position: left -450px top 48px;
  background-size: 1440px;
}

@media screen and (min-width: 768px) {
  .container,
  .homePageContainer {
    width: 768px;
    padding: 68px 92px 0;
  }
  .homePageContainer {
    background-repeat: no-repeat;
    background-position: left calc(50% - 70px) top 68px;
    background-size: 1440px;
  }
}

@media screen and (min-width: 1440px) {
  .container,
  .homePageContainer {
    width: 1440px;
    padding: 68px 120px 0;
  }
  .homePageContainer {
    background-position: center top 68px;
    padding: 0 120px;
  }
}
