.formStopped {
  position: fixed;
  /* left: calc(50% - 466px); */
  background-color: var(--white);
  padding-top: 16px;
  width: 1440px;
  z-index: 999;
}

.resetBtn {
  margin: 0 auto 16px;
  width: 200px;
  border: 1px solid var(--gray-light);
  background-color: var(--inputs);
}

.formWrapper {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 68px;
  margin: 0 auto;
}

.selectBrand {
  margin-right: 16px;
}

.selectPrice {
  margin-right: 16px;
}

.btnSubmit {
  margin-left: 16px;
}

.inputFrom,
.inputTo {
  background-color: var(--inputs);
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  border: none;
  width: 160px;
  height: 44px;
  outline-style: none;
}

.inputFrom {
  border-radius: 12px 0 0 12px;
  border-right: 1px solid var(--gray-light);
}
.inputTo {
  border-radius: 0 12px 12px 0;
}
