.detailWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 84px 120px 104px;
  /* grid-template-columns: 100px 90px; */
  font-size: large;
  column-gap: 72px;
}

.photo {
  width: 640px;
  height: 512px;
  background-color: green;
  color: white;
  margin-bottom: 40px;
  border-radius: 19px;
}

.titleDescription {
  width: 488px;
  height: 200px;
  background-color: yellow;
  padding-top: 20px;
  margin-bottom: 68px;
}

.description {
  width: 488px;
  height: 772px;
  background-color: blue;
  color: white;
}

.form {
  width: 640px;
  height: 488px;
  background-color: purple;
  color: white;
  padding: 32px;
}
