.header {
  /* width: 100%; */
  width: 320px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: calc(50% - 160px);
  background-color: var(--badges);
  z-index: 999;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  max-width: 320px;
  padding: 16px 20px;
  margin: 0 auto;
}

.logo {
  width: 104px;
  height: 16px;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    left: 0;
  }
  .headerContainer {
    height: 68px;
    max-width: 768px;
    padding: 26px 92px;
  }
}

@media screen and (min-width: 1440px) {
  .headerContainer {
    max-width: 1440px;
    padding: 26px 120px;
  }
}

.link:hover,
.link:focus,
.active {
  color: var(--button-hover);
}

/* .active {
  color: var(--button-hover);
} */

.linkWrapper {
  display: flex;
  gap: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}
