.header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--badges);
  z-index: 10;
}

.headerContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 68px;
  max-width: 320px;
  padding: 21px 20px;
  margin: 0 auto;
  z-index: 10;

  .logo {
    margin-right: auto;
  }

  & button {
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    z-index: 1;

    & .iconMenu {
      fill: var(--gray);
      width: 26px;
      height: 26px;
      transition: fill var(--primary-transition),
        rotate var(--primary-transition);
    }

    & .opened {
      rotate: -90deg;
      fill: var(--button-hover);
    }
    &:hover {
      .iconMenu {
        fill: var(--button-hover);
      }
      & .iconFilter {
        stroke: var(--button-hover);
      }
    }
  }

  & > .filterBtn {
    margin-right: 20px;
    & > .iconFilter {
      stroke: var(--gray);
      width: 26px;
      height: 26px;
      transition: stroke var(--primary-transition);
    }
  }
}

.linkWrapper {
  position: absolute;
  right: 20px;
  top: -73px;
  border-left: 1px solid var(--gray-light);
  border-right: 1px solid var(--gray-light);
  border-bottom: 1px solid var(--gray-light);
  border-radius: 0 0 8px 8px;
  background-color: var(--badges);
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--main);
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  z-index: 0;
  opacity: 0;
  transition: var(--primary-transition);
  .link {
    transition: color var(--primary-transition);
    &:hover,
    &:focus {
      color: var(--button-hover);
    }
  }
  .active {
    color: var(--button-hover);
  }
}

.openedMenu {
  transform: translateY(140px);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    left: 0;
  }
  .headerContainer {
    height: 68px;
    max-width: 768px;
    padding: 21px 92px;

    & > .filterBtn {
      margin-right: 32px;
    }

    & .linkWrapper {
      position: relative;
      right: 0;
      top: 0;
      flex-direction: row;
      border: none;
      background-color: inherit;
      padding: 0;
      align-items: center;
      gap: 32px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.25;
      opacity: 1;
      transition: none;
    }
    & .menuBtn {
      display: none;
      & .iconMenu {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .headerContainer {
    max-width: 1440px;
    padding: 26px 120px;
    & > .filterBtn {
      display: none;
    }
  }
}
