.carItemsWrapper {
  width: 276px;
  height: 424px;
  color: var(--gray);
  position: relative;
}

.heartBtn {
  position: absolute;
  top: 16px;
  right: 16px;

  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.iconHeart {
  mix-blend-mode: difference;
}

.imgCar {
  width: 276px;
  height: 268px;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 14px;
}

.titleItem {
  display: flex;
  align-items: self-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  margin-bottom: 8px;
  height: 40px;
}
.colorBlue {
  color: var(--button);
}

.addressItem {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.city {
  padding-right: 6px;
  border-right: 1px solid var(--gray-light);
}
.country {
  padding: 0 6px;
}
.company {
  padding: 0 6px;
  border-right: 1px solid var(--gray-light);
  border-left: 1px solid var(--gray-light);
}

.lastString {
  display: flex;
  align-items: center;
  /* padding-bottom: 4px; */
}

.readMoreBtn {
  margin-top: 12px;
  /* align-items: center; */
}
